/* All @import statements must be at the top */
@import url('./globals.css');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Then the rest of your CSS rules */
.common-border {
    border: 1px solid var(--common-stroke);
}

/* table design============================ */
table{
    width: 100%;
    font-size: 14px;
}

tr {
    height: 50px;
    border-bottom: 1px solid var(--common-stroke);
}

td, th {
    padding-left: 16px;
}

/* stats card styles */
.LargeStatCard {
    background-color: var(--card-background);
    width: 100%;
    padding: 32px 24px;
    border: 1px solid var(--card-stroke);
    border-radius: 12px;
}

.SmallStatCard{
    background-color: var(--card-background);
    width: 100%;
    padding: 32px 24px;
    border: 1px solid var(--card-stroke);
    border-radius: 12px;
}

.stat-card-header-text {
    color: var(--secondary-text);
    font-size: 14px;
}

.units {
    color: var(--secondary-text);
}

.secondary-stat{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 16px;
}

/* table of content styles =======================  */
.table-content{
    background-color: white;
    padding : 24px 32px;
    border: 1px solid var(--common-stroke);
    border-radius: 20px;
}

.table-content table thead{
    background-color: var(--table-header-background);
    border: none;
}

.table-content table tbody tr{
    height: 40px;
    font-size: 12px;
}

input, select, option {
    height: 40px;
    font-size: 14px;
    background-color: var(--base-background);
    border: 1px solid var(--input-stroke);
    border-radius: 10px;
    padding: 0 16px;
}

input:focus {
    outline: none;
}

.submit-btn {
    background-color: var(--submit-button-color);
    border: none;
    font-weight: 600;
    color: white;
}

.input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

label {
    font-size: 12px;
    color : var(--secondary-text)
}

/* form validation styles =======================  */

.error-message {
    @apply text-sm text-red-600 mt-2
}

.error-message-section {
    @apply bg-red-100 border-[1px] border-red-200 text-sm text-red-600 rounded-xl py-3 text-center mt-3
}

.success-message-section {
    @apply bg-green-100 border-[1px] border-green-200 text-sm text-green-600 rounded-xl py-3 text-center mt-3
}

.processing-message-section {
    @apply bg-blue-100 border-[1px] border-blue-200 text-sm text-blue-600 rounded-xl py-3 text-center mt-3
}