@import "tailwindcss";

:root {
  --background: #F6F8FF;
  --foreground: #171717;
  -text : #52526b;
}

body {
  background: var(--background);
  width: 100vw;
  height: 100vh;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

@theme{
  --color-primary-text : #121F54;
  --color-secondary-text : #6A749B;

  --color-base-background : #F6F8FF;
  --color-card-background : #DADEF4;
  --color-link-background : #E5E8FE;
  --color-table-header-background: #6A749B;

  --color-border-stroke : #C3CBEC;
  --color-input-stroke : #C3CBEC;
  --color-common-stroke : #B1BAE4;
}